<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Add Shark</title>
    </head>
    <body>
        <h1>Add New Shark</h1>
        <form class="" action="/create" method="post">
            Name: <input type="text" name="name" value=""> <br>
            Type: <input type="text" name="type" value=""> <br>
            Age: <input type="text" name="age" value=""> <br>
            <input type="submit" name="addShark" value="Add Shark">
        </form>
    </body>
</html>
